.headerShipper {
    font-size: 14px !important;
    color: #333 !important;
  }

.headerRight {
    display: flex !important;
    align-items: center !important;
    gap: 15px !important;
    flex-wrap: wrap !important; 
  }

  
.headerDropdown {
  position: relative !important;
}

.headerDropdownToggle {
  display: flex !important;
  align-items: center !important;
  font-size: 14px !important;
  color: #333 !important;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
}

.headerDropdownToggle .dropdownTitle {
  margin-right: 8px !important;
  font-size: 14px !important;
}

.headerDropdownToggle .userIcon {
  font-size: 14px !important;
  color: #333 !important;
}

.headerDropdownMenu {
  min-width: 310px !important;
  padding: 10px !important;
  border-radius: 5px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
  list-style: none !important;
  z-index: 1000 !important;
}

.dropdownItem {
  padding: 0 !important;
  color: #ff6c3a !important;
}
.dropdownItem:active {
  /* padding: 0 !important; */
  /* width: 100% !important; */
  background-color: #ff6c3a !important;
  color: white !important;
}

.dropdownItemAll {
  padding: 4px 8px !important;
  font-size: 14px !important;
}

.dropdownUser{
  font-size: 14px !important;
}
.dropdownSupport{
  font-size: 14px !important;
}

.dropdownLogout{
  font-size: 14px !important;
}