.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3e50;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
  }
  
  .logoutBtn:hover {
    background-color: #3f576e;
    transform: scale(1.1);
  }
  
  .logoutBtn:active {
    background-color: #444;
    transform: scale(1);
  }
  
  .logoutBtn svg {
    font-size: 24px; /* Icon size */
  }