.forgot-password-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  color: #333;
}

.fPlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.fpImg {
  width: 160px;
  height: auto;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.9rem;
  color: #ff6c3a;
  margin-bottom: 20px;
}

.forgot-password-form {
  width: 100%;
  
}

.inputWrapper {
  /* margin-bottom: 20px; */
  position: relative;
  display: flex;
  align-items: center;
}
.mainWrapper {
  margin-bottom: 20px;
  /* position: relative;
  display: flex;
  align-items: center; */
}

.email-input {
  width: 100%;
  font-size: 1rem;
  border: 2px solid #ff6c3a;
  border-radius: 25px;
  outline: none;
  padding: 12px 40px 12px 37px;
}

.email-input:focus {
  border-color: #ff6c3a;
}

.captcha-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
}

.next-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.next-button {
  background-color: #ff6c3a;
  color: white;
}

.cancel-button {
  background-color: transparent;
  color: #ff6c3a;
  border: 1px solid #ff6c3a;
}
.icon {
  position: absolute;
  left: 15px;
  color: #6c757d;
}
