.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-logo img {
  width: 160px;
  margin-bottom: 20px;
}

.login-header {
  background: initial !important;
    color: #FF6C3A !important;
    padding-top: 0px !important;
    font-size: 26px !important;
    font-weight: bold;
    margin-bottom: 20px !important;
    /* float: left; */
    /* width: 100%; */
}

.login-form {
  /* width: 100%; */
  max-width: 400px;
}

.inForm-group {
  margin-bottom: 20px;
  position: relative;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.error {
  border-color: red;
}

.error-text {
  color: red;
  margin-left: 25px;
}
.input-wrapper .error-text {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.logInput {
  width: 100%;
  padding: .375rem 2.5rem;
  border: 2px solid #FF6C3A;
  border-radius: 25px;
  font-size: 1rem;
  color: #333;
}

.icon {
  position: absolute;
  left: 15px;
  color: #6c757d;
}

.password-toggle {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #6c757d;
}

.captcha-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-link {
  color: #FF6C3A !important;
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
  float: right;
  MARGIN: 3px 0px 0px 34px;
}

.login-button,
.sso-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.login-button {
  background-color: #FF6C3A;
  color: #fff;
  cursor: pointer;
  height: 40px;
  font-size: 23px;
  padding-top: 3px;
  font-weight: 600;
}

.sso-button {
  background-color: transparent;
  color: #FF6C3A !important;
  font-size: 15px !important;
  font-weight: bold;
  cursor: pointer;
}
