
.footer-container {
    background-color: #f7f7f7;
    color: #333;
    padding: 10px 20px;
    font-size: 0.8vw;
    border-top: 1px solid #ccc;
    text-align: center;
    line-height: 1.5;
  }
  

  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  
  .footer-helpdesk a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-helpdesk a:hover {
    text-decoration: underline;
  }

.footer-bottom {
    font-size: 0.8vw;
    /* color: #777; */
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      font-size: 12px;
      padding: 10px;
    }
  
    .footer-top {
      flex-direction: column;
      text-align: center;
      gap: 5px;
    }
  }
  