.dashboard-container {
    padding: 20px;
  }
  
  .controls {
    margin-bottom: 10px;
    text-align: right;
  }
  
  .layout-select {
    padding: 8px;
    font-size: 14px;

  }
  
  .layout {
    background-color: #f5f5f5;
  }
  
  .grid-item {
    /* background-color: #34495e; */
    color: white;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #34495e;
    /* height: auto !important; */
  }
  
  .draggable-handle {
    cursor: grab;
  }
  
  .item-content {
    padding: 10px;
    overflow-y: auto;
  }
  
  .grid-item .list-item {
    padding: 10px;
    border-bottom: 1px solid #2c3e50;
  }
  
  .item-header {
    background-color: #272f3c !important; 
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  
  /* .pipeline-select {
    width: 200px;
    margin: 10px 0;
    background-color: #1f2a36 !important;
  } */
  
  .notice-close-btn{
    font-size: large;
      /* margin: 6px -90px 0px -20px; */
      cursor: pointer;
  }
  
  .list-content {
    padding: 10px;
     
    background-color: white;
  }
  
  .table-container {
    max-height: 312px; 
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c3e50; 
  }
  
  table th, table td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #34495e;
  }
  
  table th {
    background-color: #1f2a36;
    color: #ecf0f1; 
    font-weight: bold;
    position: sticky;
    z-index: 1;
    top: 0;
  }
  
  table tr:nth-child(even) {
    background-color: #272f3c !important; 
  }
  
  table tr:nth-child(odd) {
    background-color: #3c4658 !important; 
  }
  
  table td {
    color: #ecf0f1; 
  }
  
  .batch-code-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 150px; 
    box-sizing: border-box;
  }
  
  .batch-search-btn {
    padding: 6px 12px;
    background-color: #ff6c3a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .controls {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 992px) {
    .grid-item {
      width: 100%;
      font-size: 14px;
    }
  
    .item-header {
      font-size: 12px;
      padding: 8px;
    }
  }
  
  @media (max-width: 768px) {
    .dashboard-container {
      padding: 10px;
    }
  
    .layout {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .grid-item {
      font-size: 12px;
      width: 100%;
    }
  
    .item-header {
      font-size: 10px;
      padding: 6px;
    }
  
    .item-content {
      padding: 6px;
    }
  
    table th, table td {
      font-size: 12px;
      padding: 4px;
    }
  }
  
  @media (max-width: 576px) {
    .controls {
      text-align: center;
    }
  
    .layout {
      grid-template-columns: 1fr;
    }
  
    .grid-item {
      margin-bottom: 10px;
      width: 100%;
    }
  
    .item-header {
      font-size: 10px;
    }
  
    table {
      font-size: 10px;
    }
  }